.chat {
    background: white;
	width: 20vw;
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 700px;
}

.messages {
	height: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
    padding: 40px 15px;
	overflow-y: scroll;
	word-wrap: break-word;
	padding: 2px;
}

::-webkit-scrollbar {
    width: 15px;
}
 

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #2AABE2; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #2AABE2; 
}

.chatstyle {
	padding: 8px;
	margin-bottom: 4px;
    border-radius: 15px;
    color: white;
    font-size: 30px;
}

.input {
	height: 99px;
    background-color: #2AABE2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid black;
}

.chatinput {
	height: 50%;
	width: 70%;
	border-radius: 15px;
	border: 1px solid #c9c9c9;
	outline: none;
	font-size: medium;
	padding: 5px;
	color: #252525;
}

.chatinput:hover {
	
}

.chatbutton {
	font-size: 20px;
	color: white;
	background: #2AABE2;
	border: none;
    margin-right: 8px;
}

.send {
	height: 30px;
	margin-right: 19px;
}

.send:hover {
	transform: scale(1.20);
}



